.form-login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
    border: solid black;
    border-width: thin;
    text-align: center;
    padding: 20px;
}

.container{
    display:flex;
    text-align: center;
    padding: 20px;

}
label{
    display: block;
}

.labels label{
    flex-direction: column;
    text-align: left;
    width: fit-content;
    white-space: nowrap;
    padding-right: 10px;
    margin-bottom: 10px;
}
input{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.campos input{
    flex-direction: column;
    text-align: right;
    width: fit-content;
    margin-bottom: 10px;
}

