.quadradoMaior{
    display: inline-flex;
    border: solid thin;
    margin: auto auto auto auto;
    width: 400px;
    height: 200px;
    background-color: darkblue;

}

.quadradoMenor{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin;
    margin: auto auto auto auto;
    font-size: xx-large;
    width: 150px;
    height: 180px;
}