.container{
    display: block;
    width: 90%;
    margin: 0 auto 0 auto;
    border: solid thin;
}

nav{
    border-top: solid thin;
}

.titulo{
    text-align: center;

}

#publi{
    margin-top: 20px;
    border-radius:  10px;
}

ul{
    display: flex;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;
}

li{
    flex: 1 1 auto;

}

.container h2{
    padding: 30px;
}

.texto{
    width: 90%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}